*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; 
}

.container{
    height:100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
}

.box{
    max-width: 40rem;
    max-height: 60rem;
    width: 40rem;
    height: 60rem;
    margin: 4rem;
    border: 1px solid red;
    border-radius: 1rem; 
    display: grid;
    grid-template-rows:1fr 1fr 3fr 1fr ;
}

.logo {
    width: 5rem;
    height: 5rem;
    fill: blue;
    padding: 2px;
    margin: auto; }

    .link {
        margin: auto;
        text-decoration: none; 
        /* border:1px solid red;/ */
    }

.box__logo{
    border:1px solid green;
    display: flex;

}

.box__login{
    border:1px solid red;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2.5rem;


}

.box__form{
    border:1px solid blue;

}

.box__signup{
    border:1px solid yellow;

}

.login{
    width: 40%;
    height:60%;
    background: -webkit-linear-gradient(left, #3416a0, #320c70);
    border-radius: 1rem;
    color: white;
    display: flex;
align-items: center;
justify-content: center;
}

.register{
width: 40%;
height: 60%;
background: -webkit-linear-gradient(left, #3416a0, #320c70);
border-radius: 1rem;
display: flex;
align-items: center;
justify-content: center;

}